#Loginform{
    color: black;
    height: 265px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    border: 2px solid rgb(156, 150, 150);
    border-radius: 25px;
    width: 500px;
    height: 50px;
    margin: 25px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
input{
    margin-left: 10px;
    background: none;
    outline: none;
    color: black;
    width: 350px;
    border: none;
}